#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}

.over-text {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    font-size: 90px;
    color: white;
}



